[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=/app/pt/packettracer -uri=%u
Icon=com.cisco.PacketTracer

Name=Packet Tracer
Categories=Application;Network;
NoDisplay=true

MimeType=x-scheme-handler/pttp;
StartupWMClass=PacketTracer
